// { {}} allows for variables to pop in
<h1>Hello, {{username}}</h1>
<h2>Your ToDo list</h2>
<form>
    <ul> //unorder list
        //individual item in list
        <li>suzuki <input type="submit " value=" Delete"></li>
        <li>suzuki <input type="submit " value=" Delete"></li>
        <li>suzuki <input type="submit " value=" Delete"></li>
        <li>suzuki <input type="submit " value=" Delete"></li>
    </ul>
</form>
<form>

    <input placeholder="add new item">
    <input type="submit" value="Add new item">
</form>

<br>
<form>
    <input type="submit" value="Log out">
</form>