<h1>Login</h1>
<form>
    //collection of feilds and buttons
    <input placeholder="Enter Username">
    <br>
    <input placeholder="Enter Password" type="password">
    //button
    <br>
    <input value="Log in" type="submit">
    <input value="Register" type="submit">


</form>